@import "tailwindcss";

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    /* background-color: rgba(0, 110, 255, 0.7); */
}

body {
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
}

.active {
    transition: transform 0.2s ease-in-out;
}

.active:active {
    transform: scale3d(1, 0.7, 1);
}

button {
    cursor: pointer;
}
