@import "tailwindcss";

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

.active {
    transition: transform 0.2s ease-in-out;
}

.active:active {
    transform: scale3d(1, 0.7, 1);
}

button {
    cursor: pointer;
}
